@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.head-part {
  background-image: url("/images/bg-main-mobile.png");
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: cover;
  padding-top: 3rem;
  z-index: 100;
}
img {
  width: 100%;
}

.card-back {
  background-image: url("/images/bg-card-back.png");
  height: 180px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 3rem;
  margin-right: 0.7rem;
  padding: 0;
  /* position: relative; */
  z-index: 999px;
}
.confirmed-cvc {
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: 7rem;
  left: 80%;
}
.card-front {
  background-image: url("/images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: -4rem;
  margin-left: 0.5rem;
  margin-right: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  height: 180px;
  padding: 0.9rem 1rem 0.5rem 1rem;
  font-size: 1.3rem;
  z-index: 1000px;
}
.card-front .card-number {
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  padding: 0;
  font-size: 1.5rem;
  margin: 0;
}
.card-logo {
  margin-bottom: 0.4rem;
}

.card-front .confrimed-details {
  display: flex;

  flex-flow: column nowrap;
  color: hsl(0, 0%, 100%);

  padding-top: 0.3rem;
  /* margin-top: 2rem; */
}
.card-front .personal-details {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}
.card-details {
  margin-top: 9rem;
}
.card-details {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.year-details {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3rem;
}
.year-details-label {
  display: flex;
  gap: 4.5rem;
}
.month,
.year {
  width: 30%;
}
.cvc {
  width: 40%;
}

label {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
input {
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  border-radius: 10px;
  outline: none;
  border-color: rgba(128, 128, 128, 0.363);
}
input::placeholder {
  color: hsl(279, 6%, 55%);
}
.submit-btn {
  background-color: hsl(278, 68%, 11%);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  /* margin: 0 2rem 0 2rem; */
  text-align: center;
}
.submit-page {
  margin-top: 10rem;
  padding: 1.5rem;
  /* text-align: s; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.complete-text {
  text-align: center;
}
.complete-feedback {
  color: hsl(279, 6%, 55%);
  margin-bottom: 2rem;
}
a:any-link {
  text-decoration: none;
}

/* Desktop design */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto;
    gap: 5rem;
  }
  .head-part {
    background-image: url("/images/bg-main-desktop.png");
    height: 100vh;
  }
  .card-details {
    margin-top: -12rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-self: center;
    margin-left: 9rem;
    margin-bottom: 2rem;
  }
  .grid-cards {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    position: absolute;
    margin-left: 0.2rem;
  }
  .card-front {
    grid-column: 1/9;
    grid-row: 1/2;
    width: 350px;
    max-width: 100%;
    height: 200px;
  }
  .card-back {
    grid-column: 2/11;
    grid-row: 2/3;
    width: 350px;
    max-width: 100%;
  }
  .confirmed-cvc {
    color: hsl(0, 0%, 100%);
    top: 13.6rem;
    left: 75%;
  }
  .card-front .confrimed-details {
    gap: 1.3rem;
    margin-top: 1rem;
  }
  .submit-page {
    margin-top: -18rem;
    margin-left: 9rem;
    margin-bottom: 2rem;
    width: 350px;
  }
}

@media (min-width: 890px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto;
    gap: 5rem;
  }
  .head-part {
    background-image: url("/images/bg-main-desktop.png");
    height: 100vh;
  }
  .card-details {
    margin-top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-self: center;
    margin-left: 9rem;
    margin-bottom: 2rem;
  }
  .grid-cards {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    gap: 1.5rem;
    position: absolute;
    margin-left: 8rem;
  }
  .card-front {
    grid-column: 1/9;
    grid-row: 1/2;
    width: 350px;
    max-width: 100%;
    height: 200px;
  }
  .card-back {
    grid-column: 2/11;
    grid-row: 2/3;
    width: 350px;
    max-width: 100%;
  }
  .confirmed-cvc {
    color: hsl(0, 0%, 100%);
    top: 13.6rem;
    left: 75%;
  }
  .card-front .confrimed-details {
    gap: 1.3rem;
    margin-top: 1rem;
  }
  .submit-page {
    margin-top: 0;
    margin-left: 9rem;
    margin-bottom: 2rem;
    width: 500px;
  }
}
